<%- include ../header -%>

<body>
  <div class="container is-widescreen">
    <div class="notification">
      <div class="columns">
        <div class="column is-one-thirds"> </div>
        <div class="column">
          <h2 class="title is-2">Cadastro de avião</h2>
        </div>
        <div class="column"> </div>
      </div>
    </div>

    <form action="/aviao/<%= aviao.registro ? 'editar': 'cadastrar' %>" method="POST" id="<%= aviao.registro ? 'editar': 'cadastrar' %>"></form>
    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column">
        <div class="field">
          <p class="control has-icons-left">
            <input form="<%= aviao.registro ? 'editar': 'cadastrar' %>" name="registro" class="input" type="number" placeholder="Número de registro do avião" value="<%= aviao.registro %>">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input form="<%= aviao.registro ? 'editar': 'cadastrar' %>" name="modelo" class="input" type="text" placeholder="Modelo" value="<%= aviao.modelo || '' %>">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="column"></div>
    </div>

    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column">
        <div class="field">
          <p class="control has-icons-left">
            <input form="<%= aviao.registro ? 'editar': 'cadastrar' %>" name="qtdAssentos" class="input" type="number" placeholder="Quantidade de assentos" value="<%= aviao.qtdAssentos %>">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <p class="control has-icons-left">
            <input form="<%= aviao.registro ? 'editar': 'cadastrar' %>" name="qtdAssentosEspeciais" class="input" type="number" placeholder="Quantidade de assentos especiais" value="<%= aviao.qtdAssentosEspeciais %>">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="column"></div>
    </div>

    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column is-one-quarter">
        <% if (aviao.registro) { %>
          <button form="<%= aviao.registro ? 'editar': 'cadastrar' %>" type="submit" class="button is-success is-medium">Editar</button>
        <% } else { %>
          <button form="<%= aviao.registro ? 'editar': 'cadastrar' %>" type="submit" class="button is-success is-medium">Enviar</button>
        <% } %>
      </div>
      <div class="column is-one-quarter"></div>
      <div class="column is-one-quarter"></div>
    </div>
</body>
<%- include ../footer -%>