<%- include ../header -%>

<body>

  <div class="columns">
    <div class="column"></div>
    <div class="column">
      <table class="table">
        <thead>
          <tr>
            <th>Registro</th>
            <th>Modelo</th>
            <th>Assentos</th>
            <th>Assentos E speciais</th>
            <th>Excluír</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Registro</th>
            <th>Modelo</th>
            <th>Assentos</th>
            <th>Assentos E speciais</th>
            <th>Excluír</th>
          </tr>
        </tfoot>
        <tbody>
          <% avioes.forEach(function(aviao){ %>
          <tr>
            <td style="cursor: pointer;" onclick="editar(<%= aviao.registro %>)"> <%= aviao.registro %> </td>
            <td style="cursor: pointer;" onclick="editar(<%= aviao.registro %>)"> <%= aviao.modelo %> </td>
            <td style="cursor: pointer;" onclick="editar(<%= aviao.registro %>)"> <%= aviao.qtdAssentos %> </td>
            <td style="cursor: pointer;" onclick="editar(<%= aviao.registro %>)"> <%= aviao.qtdAssentosEspeciais %> </td>
            <td> <a onclick="excluir(<%= aviao.registro %>)" class="delete is-small"></a> </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <div class="column"></div>
  </div>
</body>
<script>
  async function excluir(registro) {
    window.location.replace(`/aviao/excluir/${registro}`)
  }

  function editar(registro) {
    window.location.replace(`/aviao/editar/${registro}`)
  }
</script>
<%- include ../footer -%>