<%- include ../header -%>

<body>
  <div class="container is-widescreen">
    <div class="notification">
      <div class="columns">
        <div class="column is-one-thirds"> </div>
        <div class="column">
          <h2 class="title is-2">Cadastro de Voo</h2>
        </div>
        <div class="column"> </div>
      </div>
    </div>

    <form action="/voo/<%= voo.numeroVoo ? 'editar': 'cadastrar' %>" method="POST" id="<%= voo.numeroVoo ? 'editar': 'cadastrar' %>"></form>
    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column">
        <div class="field">
          <p class="control has-icons-left">
            <input form="<%= voo.numeroVoo ? 'editar': 'cadastrar' %>" class="input" name="dtViagem" type="date" placeholder="Data da viagem" value="<%= voo.dtViagem || ''%>">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input form="<%= voo.numeroVoo ? 'editar': 'cadastrar' %>" class="input" name="numeroVoo" type="number" placeholder="Número do voo" value="<%= voo.numeroVoo || ''%>">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="column"></div>
    </div>

    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column">
        <div class="field">
          <p class="control has-icons-left">
            <input form="<%= voo.numeroVoo ? 'editar': 'cadastrar' %>" class="input" name="partida" type="text" placeholder="Local de partida" value="<%= voo.partida || ''%>">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <p class="control has-icons-left">
            <input form="<%= voo.numeroVoo ? 'editar': 'cadastrar' %>" class="input" type="text" name="destino" placeholder="Local de destino" value="<%= voo.destino || ''%>">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="column"></div>
    </div>

    <div class="columns">
        <div class="column is-one-quarter"></div>
        <div class="column">
          <div class="field">
            <p class="control has-icons-left">
              <input form="<%= voo.numeroVoo ? 'editar': 'cadastrar' %>" class="input" name="hora" type="text" placeholder="Horário de viagem" value="<%= voo.hora || ''%>">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <p class="control has-icons-left">
              <input form="<%= voo.numeroVoo ? 'editar': 'cadastrar' %>" class="input" type="number" name="valor" step="0.01" placeholder="Valor passagem normal" value="<%= voo.valor || ''%>">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="column"></div>
      </div>
  
      <div class="columns">
        <div class="column is-one-quarter"></div>
        <div class="column">
         
        </div>
        <div class="column">
          <div class="field">
            <p class="control has-icons-left">
              <input form="<%= voo.numeroVoo ? 'editar': 'cadastrar' %>" class="input" type="number" name="valorEspecial" step="0.01" placeholder="Valor passagem especial" value="<%= voo.valorEspecial || ''%>">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="column"></div>
      </div>

    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column is-one-quarter">
        <button form="<%= voo.numeroVoo ? 'editar': 'cadastrar' %>" type="submit" class="button is-success is-medium"><%= voo.numeroVoo ? 'Editar': 'Enviar' %></button>
      </div>
      <div class="column is-one-quarter"></div>
      <div class="column is-one-quarter"></div>
    </div>
</body>

<%- include ../footer -%>